*.css
*.export
*.log
*.specification
*.template
*.xhtml
*.tuc
*.kate-swp
*.aux
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.dvi
*.fdb_latexmk
*.fls
*.pdf
*.bcf
*.run.xml
*.pgf-plot.gnuplot
*.pgf-plot.table
